.offers-list {
  background: linear-gradient(180deg, #001b45 2%, #92c9f4 99%);
  padding: 5px 0px;
  margin: 0;
  min-height: 664px;
  max-height: 664px;
  display: flex-end;
  overflow-y: scroll;
  width: auto;
}

.offers-list-other-routes {
  background-color: #3b7cdc;
  background: linear-gradient(180deg, #001b45 2%, #92c9f4 99%);
  padding: 5px 0px;
  margin: 0;
  min-height: 664px;
  max-height: 664px;
  overflow: auto;
  display: flex-end;
  width: auto;
}

.offers-list .offer-card {
  background: #f3f3f3;
  border: solid 1.5px;
  border-radius: 9px;
  margin-bottom: 5px;
  padding: 0px;
  height: auto;
  max-width: 755px;
}

.offers-list.dark-mode {
  background: linear-gradient(184deg, rgb(0, 0, 0) 8%, #263139 79%);
  color: #f3f3f3;
}

.offers-list.dark-mode .offer-card {
  background-color: #000000fa;
  color: #ffffff;
}

.offers-list .title {
  padding: 0px;
  font-size: 25px; /* Reduced the font size */
  color: #020f1a;
}

.offers-list.dark-mode .title {
  color: #ffffff;
}

.offers-list .subTitle {
  font-size: 18px; /* Reduced the font size */
  color: rgb(0, 0, 0);
}

.offers-list.dark-mode .subTitle {
  /* Dark mode styles */
  color: #f8f8f8;
}

.offers-list .salary {
  font-size: 20px; /* Reduced the font size */
  font-weight: bold;
  color: rgb(8, 125, 14);
}

.offers-list.dark-mode .salary {
  color: #7fee01;
}
.offers-list .typeOfContract {
  font-size: 24px;
  color: rgb(8, 125, 14);
}
.offers-list.dark-mode .typeOfContract {
  font-size: 24px;
  color: rgb(110, 231, 5);
}
.offers-list .bodyOfDescription {
  font-size: 16.5px; /* Reduced the font size */
  color: rgb(23, 48, 77);
}

.offers-list.dark-mode .bodyOfDescription {
  color: white;
}

.offers-list .button-container {
  /* Add these styles for flexbox positioning */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px; /* Reduced the gap between buttons */
}

.offers-list .offer-button {
  font-size: 14px; /* Reduced the font size */
  letter-spacing: 2px; /* Reduced the letter spacing */
  padding: 7px; /* Reduced the padding */
  border-radius: 6px; /* Reduced the border radius */
  background-color: #0d305f;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #f4f4f4;
}
.offers-list .offer-button {
  background-color: #0d305f;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #f4f4f4;
}
.offers-list .offer-apply {
  display: flex;
  font-size: 14px;
  padding: 8px; /* Reduced the padding */
  border-radius: 6px; /* Reduced the border radius */
  background-color: #092140;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #f4f4f4;
}

.offers-list.dark-mode .offer-apply {
  background-color: #333a31;
  color: #0ed51b;
}

.offers-list.dark-mode .offer-button {
  background-color: #333a31;
  color: #06ca13;
}
.offers-list.dark-mode .offer-button:hover {
  background-color: #ffffff;
  color: #000000;
}
.offers-list.dark-mode .offer-apply:hover {
  background-color: #ffffff;
  color: #000000;
}
