.buttonSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-left: 65px;
  gap: 10px;
  border-radius: 0px;
  overflow-x: auto; /* Enable horizontal scrolling */
  width: 740px; /* Ensure the container takes up the full width */
  scrollbar-width: thick; /* Set the width of the scrollbar */
  scrollbar-color: #1e2021;
  
}

.button:hover {
  background: linear-gradient(to bottom, #293039, #0ac2de44);
  /* Adjust the gradient direction and colors as needed */
  border-radius: 5px;
  margin-left: 0px;
  color:  #0ac1de6b
}

.dark-mode .button:hover {
  background: linear-gradient(to bottom, #1c1c240a, #19d40161);
  color: #16b50124;
  border-radius: 5px;
  margin-left: 0px;
  /* Adjust the gradient direction and colors as needed */
}

.menu {
  min-width: 400px;
  width: 100%;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  outline: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal h6 {
  margin-bottom: 10px;
}

.modal button {
  margin-top: 20px;
}

/* Dark Mode Styles */
.buttonSection.dark-mode {
  background-color: #000000;
}

.buttonSection.dark-mode .button {
  color: white;
}
