/* Light Mode */
.app-bar {
  background-color: #001b45;
  color: #ffffff;
  padding: 0px;
  margin: 0px;
}
.dark-mode.app-bar {
  background: #000000;
}

.switcher {
  position: relative;
  min-width: 10px; 
  min-height: 10px; 
  border-radius: 12px;
  background: rgba(65, 115, 252, 0.379);
  cursor: pointer;
  transition: background-color 1s;
  margin: 0px 0px;
  margin-left: 0;
}

.dark-mode .switcher {
  background-color: #263139;

}

.dark-mode .switcher::after {
  left: 8px; 
}

.app-bar-for-other-routes {
  background-color:  #001b45;
  color: #ffffff;
  padding: 0px;
}
.dark-mode.app-bar-for-other-routes {
  background-color: #000000;
}

.routeViewText {
  color: #679af8;
  align-items: center;
  flex-wrap: wrap;
}

.dark-mode .routeViewText {
  color: #2feb00;
}

.dark-mode .app-bar {
  background-color: #1e2021;
  color: #ffffff;
}

.dark-mode .menu {
  background-color: #000000;
}

.dark-mode .search-bar {
  background-color: #000000;
}

.dark-mode .search-bar input {
  background-color: #000000;
  color: #ffffff;
}

.dark-mode .profile-button {

  color: #ffffff; 
}

.title-button {
  margin-right: 5px;
}

::-webkit-scrollbar {
  min-width: 10px;
}
.dark-mode ::-webkit-scrollbar-thumb {
  background-color: #12cd4a;
}
::-webkit-scrollbar-track {
  background-color: #293039;
  margin-left: 0px;
  border-radius: 8px;
}


::-webkit-scrollbar-thumb {
  background-color: #63a9da;
  border-radius: 8px;
}

/* Light Mode Scrollbar Thumb Hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #4288a7;
}

/* Dark Mode Scrollbar Thumb Hover */
::-webkit-scrollbar-thumb:hover .dark-mode {
  background-color: #0dab3d;
}
.hide-buttons {
  display: none;
}

.show-buttons {
  display: block;
}
@media (max-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .button-section {
    display: none;
  }

  .search-bar {
    flex-grow: 1;
    margin-right: 30px;
    width: 100%; /* Extend the search bar to 100% width */
  }
}

/* Hide scrollbar on larger screens */
@media (min-width: 1480px) {
  ::-webkit-scrollbar {
    display: none;
  }
}
